form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #fff;
}

mat-form-field {
  margin-bottom: 1rem;

}

button {
  margin-top: 1rem;
}

h2 {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #333;
  font-family: "Candara Light";
}


