<h2>{{ edicao ? 'Editar Arte' : 'Adicionar Arte' }}</h2>
<form (ngSubmit)="salvarArte()">
  <mat-form-field >
    <mat-label>Titulo</mat-label>
    <input matInput [(ngModel)]="arte.titulo" name="titulo" required>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Artista</mat-label>
    <input matInput [(ngModel)]="arte.artista" name="artista" required>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Ano</mat-label>
    <input matInput [(ngModel)]="arte.ano" name="ano" required>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Salvar</button>
</form>
